/* 
  Table of Contents
  1. Global Styles
  2. Layout
  3. Components
     3.1. Links
     3.2. Titles
     3.3. Buttons
     3.4. Result
     3.5. Quiz Problem
     3.6. Quiz Error
  4. Animations
     4.1. Styles
     4.2. Keyframes
  5. Media Queries
*/

/*============= 
  Global Styles
  =============*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;

  -webkit-transition: max-width .5s ease;
  -moz-transition: max-width .5s ease;
  -ms-transition: max-width .5s ease;
  -o-transition: max-width .5s ease;
  transition: max-width .5s ease;
}

.display-none {
  display: none;
}

/* ======================== */

.progress {
  position: fixed;
  height: 2px;
  background-color: #333;
  z-index: 5;
}

body, 
.quiz {
  background: #cc333f;
}

.top__title-h1, 
.top__result-span {
  font-family: 'Wendy One', sans-serif;
}

.top__title, .top__result, .top__retake,
.quiz__submit, .quiz__error-message {
  text-align: center;
}

.top__title-h1,
.top__result-span,
.quiz__problem, 
.quiz__question,  
.quiz__submit-btn {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/*====== 
  Layout
  ======*/

.top {
  background: #fff;
}

.quiz {
  line-height: 1.5;
  padding: 25px 0 50px 0;
  color: #efefef;
}

/*========== 
  Components
  ==========*/

  /* Links */

.top__github-link {
  position: absolute;
  top: 0;
  right: 0;
}

.top__github-bg {
  fill: #cc333f;
}

svg:hover .top__github-bg,
svg:active .top__github-bg {
  fill: #222;
}

.top__github-icon {
  fill: #fff;
}

  /* Titles */

.top__title-h1 {
  font-size: 28px;
  padding: 50px 0;
  color: #222;
  margin: 0;
}

.top__title-span,
.quiz__title {
  -webkit-transition: font-size .5s ease;
  -moz-transition: font-size .5s ease;
  -ms-transition: font-size .5s ease;
  -o-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.top__title-span {
  color: #cc333f;
  display: block;
  font-size: 83px;
}

.quiz__title {
  font-size: 30px;
  margin: 45px 0;
}

  /* Buttons */

.top__retake {
  padding: 6px 0 47px 0;
}

.top__retake-btn {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 14px 15px;
  color: #4a4a4a;
  cursor: pointer;
  
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);

  /* Reset all the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.quiz__option-btn {
  cursor: pointer;
}

.quiz__submit {
  margin: 15px 0 12px 0;
}

.quiz__submit-btn {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 14px 18px;
  color: #4a4a4a;
  cursor: pointer;

  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

.top__retake-btn:hover, 
.quiz__submit-btn:hover {
  background: #e3e3e3;
}

.top__retake-btn:focus, 
.quiz__submit-btn:focus {
  outline: none;
  background: #d3d3d3;
}

.top__retake-btn:hover {
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
}

.top__retake-btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.quiz__submit-btn:hover,
.quiz__submit-btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
} 

  /* Result */

.top__result {
  font-size: 19px;
  font-weight: 300;
  color: #333;
  padding: 0 0 5px 0;
  word-spacing: 2px;
}

.top__result-text {
  margin: 0;
  padding: 19px 0;
}

.top__result-span {
  font-size: 57px;
  color: #cc333f;
  padding: 16px;
}

  /* Quiz Problem */

.quiz__problem {
  margin: 57px 0;
}

.quiz__question {
  font-size: 22px;
  margin-bottom: 16px;
}

.quiz__option {
  margin: 7px;
  padding-left: 11px;
}

.quiz__option-label {
  font-size: 18px;
  cursor: pointer;
  padding: 3px 5px;
}

  /* Quiz Error */

.quiz__error-message {
  margin: 0 0 20px 0;
  font-size: 15px;
  color: #ecd078;
}

/*========== 
  Animations
  ==========*/

  /* Styles */

.scene-element {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;

  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.scene-element--fadein {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.scene-element--fadeinup {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.scene-element--fadeindown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

  /* Keyframes */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;

    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;

    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }

  100% {
    opacity: 1;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }

  100% {
    opacity: 1;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/*============= 
  Media Queries
  =============*/

@media (min-width: 480px) {

  .container {
    max-width: 400px;
  }

}

@media (min-width: 530px) {

  .container {
    max-width: 450px;
  }

}

@media (min-width: 645px) {

  .container {
    max-width: 540px;
  }

}

@media (min-width: 850px) {

  .container {
    max-width: 720px;
  }

}

@media (min-width: 1110px) {

  .container {
    max-width: 960px;
  }

}

@media (max-width: 480px) {

  .container {
    max-width: 350px;
  }

  .top__title-h1 {
    font-size: 21px;
    padding: 50px 0;
  }

  .top__title-span {
    font-size: 70px;
  }

  .quiz__title {
    font-size: 25px;
    margin: 35px 0;
  }

  .quiz__question {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .quiz__submit-btn {
    font-size: 17px;
  }

}

@media (max-width: 429px) {

  .container {
    max-width: 275px;
  }

  .top__title-h1 {
    padding: 50px 0 45px 0;
  }

  .top__title-span {
    font-size: 60px;
  }

  .top__result-text {
    padding: 0 0 19px 0;
  }

  .top__result-span {
    padding: 0;
  }

  .top__result-span::before {
    content: '\A';
    white-space: pre;
  }

  .top__result-span::after {
    content: '\A';
    white-space: pre;
  }

}

@media (max-width: 352px) {

  .container {
    max-width: 250px;
    padding: 0 26px;
  }

  .top__title-h1 {
    font-size: 20px;
  }

  .top__title-span {
    font-size: 58px;
  }

}